<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjectPlan.My.MySettings.ProjectPlanConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=ProjectPlan;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ProjectPlan.My.MySettings.cnProjectplan_mySQL" connectionString="server=localhost;user id=root;password=syY2Dnvii5CFTdxXwFqU;persistsecurityinfo=True;database=projectplan"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>